*{
    font-family: Helvetica;
}

.outer-layer{
    border-radius: 40px;
    border: 8px solid black;
    height: 159.9mm;
    width: 76.7mm;
    border-radius: 40px; 
    background-color: #2a345a;
}
.inner-layer{
    border-radius: 40px;
    height: 100%;
    background-color: #f4f5f9;

}   

.top-layer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
    top: 10px;
    gap: 30px;
    
}
.time-layer{
    position: relative;
    left: 10px;
    font-size: 13px;
    font-weight: bold;
}
.icon{
    background-color: black;
    border: 1px solid black;
    height: 20px;
    width: 80px;
    border-radius: 40px;
    position: relative;
    left: 10px;
}
.signal-layer{
    display: flex;
    gap: 5px;
    /* position: absolute;
    right: 15px;
    top: 3px; */
}
.signal-layer img{
    height: 15px;
}
.m-layer{
    position: relative;
    top: 20px;
    left: 10px;
    display: flex;
    flex-direction: row;
}
.btn-layer img{
    height: 15px;
}
.btn-1-layer{
    display: flex;
    position: absolute;
    right: 22px;
    gap: 10px;
}
.btn-1-layer img{
    height: 15px;
    position: relative;
    right: 10px;
}
.img-layer{
    height: 290px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    position: relative;
    left: 10px;
}
.img-layer img{
    height: 100%;
    width: 100%;
    object-fit: fit;
    
}

.scroll-layer {
    background-color: lightgray;
    height: 12px;
    width: 60px;
    border-radius: 100px;
    position: relative;
    left: 120px;
    bottom: 35px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
.scroll-layer div{
    height: 5px;
    width: 5px;
    border-radius: 100%;
}
.scroll-next-layer{
    
    background-color: #babbc1;
    
}
.first-scroll-layer {
    background-color: black;
}
.description-layer{
    background-color: white;
    height: 280px;
    border-radius: 40px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: relative;
    bottom: 20px;
}
.dec-layer{
    position: relative;
    top: 20px;
    left: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.price-layer{
    font-weight: bold;
    font-size: 12px;
}
.product-name-layer{
    font-weight: bold;
}
.p-name-layer{
    font-size: 22px;
}
.color-layer{
    font-size: 11px;
}
.color-a-layer{
    color: gray;
}
.clr-layer{
    font-weight: bold;
}
.grad-layer{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.grad1-layer{
    border-left: 15px solid rgb(0, 0, 0);
    border-bottom: 15px solid rgb(0, 0, 0);
    border-right: 15px solid #6c7276;
    border-top: 15px solid #6c7276;
    display: inline-block;
    border-radius: 100%;
    rotate: 45deg;
}
.grad2-cov-layer{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    border: 2px solid #283efe;
    display: flex;
    justify-content: center;
    align-items: center;
}
.no-grad-layer{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grad2-layer{
    border-left: 15px solid #2a345a;
    border-bottom: 15px solid #2a345a;
    border-right: 15px solid #c28051;
    border-top: 15px solid #c28051;
    display: inline-block;
    border-radius: 100%;
    /* display: flex; */
   rotate: 45deg;
}
.grad3-layer{
    border-left: 15px solid #2f345b;
    border-bottom: 15px solid #2f345b;
    border-right: 15px solid #d00073;
    border-top: 15px solid #d00073;
    display: inline-block;
    border-radius: 100%;
    rotate: 45deg;
}
.grad4-layer{
    border-left: 15px solid #c8c8cf;
    border-bottom: 15px solid #c8c8cf;
    border-right: 15px solid #c28352;
    border-top: 15px solid #c28352;
    display: inline-block;
    border-radius: 100%;
    rotate: 45deg;
}
.desc-layer{
    font-size: 11px;
    margin-right: 30px;
}
.quality-layer{
    font-size: 11px;
    font-weight: bold;
    display: flex;
    margin: 0px;
    flex-direction: row;
    position: relative;
    width: 300px;
    right: 25px;
    bottom: 10px;
}
.bottom-icon-layer{
    display: flex;
    align-items: center;
    gap: 15px;
}
.shop-layer button{
    background-color: #0046fe;
    border-radius: 9px;
    color:white;
    width: 200px;
    height: 30px;
    position: relative;
    bottom:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border: 0px;
}
.shop-layer img{
    height: 20px;
    width: 20px;
}
.comment-layer button{
    height:30px ;
    width:30px ;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 10px;
    border-radius: 6px;
    border: 0px;
}

.bottom-icon-layer img{
    height: 20px;
    width: 20px;
}
.nav-width-layer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-bar-layer{
    height: 5px;
    background-color: #222b34;
    width: 90px;
    border-radius: 50px;
    position: relative;
    right: 20px;
    bottom: 7px;
}
